.review-text {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-left: 30px;
  margin-top: 150px;
  display: block;
}

.cart-grid {
  display: flex;
  margin-left: 30px;
  max-width: 650px;
  justify-content: center;
}

.product-cart-preview {
  flex: 1;
  border-width: 2px;
  border-radius: 2px;
  border-style: solid;
  padding-left: 20px;
  border-color: rgb(230, 230, 230);
  height: 300px;
}

.delivery-date-selected {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 19px;
  font-weight: bold;
  color: green;
}

.product-details-grid {
  display: grid;
  grid-template-columns: 130px 1fr 1fr;
}

.product-img {
  width: 100px;
}

.p-name,
.p-price,
.p-quantity {
  margin-bottom: 10px;
}

.p-name {
  font-weight: bold;
}

.p-price {
  color: rgb(162, 69, 69);
  font-weight: bold;
}

.update,
.delete {
  color: rgb(80, 80, 189);
  cursor: pointer;
}

.delivery-options {
  margin-left: 10px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 15px;
}

.d-opt {
  font-weight: bold;
}

.option-grid {
  display: grid;
  grid-template-columns: 28px 1fr;
}

.delivery-date {
  color: green;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 3px;
}

.shipping {
  color: rgb(162, 160, 160);
  font-size: 15px;
}
