.product-grid {
    display:grid;
    padding-top: 50px;
    grid-template-columns: 220px 220px 220px 220px 220px;
}

.product-image-container {
    height: 200px;
}

.product-img {
    width: 160px;
    margin-bottom: 15px;
    

}
.product-preview {
    padding-left:20px;
    padding-right:20px;
    padding-top:40px;
    border: solid;
    border-color: rgb(230, 230, 230);
    border-left: none;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-right-style: solid;
    border-right-width: 2px;
    height: 420px;

}



.product-name {
    font-size: 16px;
    margin-bottom: 8px;
}

.ratings-grid {
    display: grid;
    grid-template-columns: 105px 1fr;
    align-items: center;
    margin-bottom: 10px;

}

.rating-img {
    width: 100px;
}

.no-of-ratings {
    color: rgb(66, 66, 217);
    font-size: 16px;
    cursor: pointer;
}

.product-price {
    font-weight: bold;
    margin-bottom: 10px;
}

.no-of-items {
    font-size: 16px;
    border-radius: 5px;
    border-color: rgb(203, 200, 200);
    padding:2px;
    display: block;
    width: 50px;
    margin-bottom: 30px;
    cursor: pointer;
}

.add-cart-button {
    background-color: rgb(255, 216, 20);
    padding: 10px 45px;
    border-radius: 20px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.add-cart-button:hover {
    background-color: rgb(229, 196, 32);
}


